.prengi{
	position: relative;
	padding-top: 40px;
	height: 700px;
	background: url("../../img/фон.png") center (center/cover) no-repeat;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 136px;
	}

	&__block {
		img{
			display: inline-block;
		}
	}

	&__logo {
	}

	&__link {
		display: flex;
		font-size: 13px;
	}

	&__links {
		margin-left: 50px;
		a{
			color: #fff;
			&:hover{
				color: #00C2F0;
			}
		}
	}

	&__foot {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__section {
		display: flex;
		flex-direction: column;
		width: 613px;
	}

	&__title {
		color: #fff;
		font-size: 42px;
		margin-bottom: 25px;
	}

	&__text {
		color: #fff;
		font-size: 24px;
		margin-bottom: 36px;
	}

	&__btn {
		color: #fff;
		font-size: 16px;
		padding: 22px 0 22px 0;
		background-color: #00C2F0;
		width: 254px;
		border-radius: 2px;
		cursor: pointer;
		&:hover{
			background-color: #67d4f0;
		}
	}

	&__mobail {
		position: absolute;
		bottom: 0;
		right: 200px;
	}


}